{% extends '@EasyAdmin/layout.html.twig' %} 

{% block content %}
    <h1>Bienvenido al Panel de Administración</h1>
    <p>EasyAdmin</p>
    <div class="dashboard-widgets">
        <div class="widget">
            <h3>Categorías</h3>
            <p>Administra tus categorías de productos.</p>
        </div>
        <div class="widget">
            <h3>Productos</h3>
            <p>Administra los productos de la tienda.</p>
        </div>
    </div>
{% endblock %}
